h3.product-title
    margin: 18px 0 12px
div.row
    div.carousel        
        border-top: 3px solid lightgray 
        padding-top: 9px
        box-sizing: border-box
        div.background-image
            height: 375px
            background-repeat: no-repeat
            background-attachment: local
            background-position: center
            background-size: contain
    div.description
        margin-top: 6px
        padding: 6px 4px
        border-top: 3px solid lightgray

div.spacer
    height: 150px