h3.product-title
    margin: 18px 0 12px
div.row
    div.left-side-bar
        padding: 0 6px
        div.carousel        
            border-top: 3px solid lightgray 
            padding-top: 9px
            box-sizing: border-box
            div.background-image
                height: 375px
                background-repeat: no-repeat
                background-attachment: local
                background-position: center
                background-size: contain
        div.description
            margin-top: 6px
            padding: 6px 4px
            border-top: 3px solid lightgray
    div.right-side-bar
        padding: 0 6px
        div.buy-panel-container
            display: inline-flex
            justify-content: center
            div.spacer1
                flex-grow: 1
            div.spacer1
                flex-grow: 1
            div.buy-panel
                flex-grow: 1
                // padding-top: 0.5em
                span.price
                    display: inline-block
                    padding-right: 1em
                    font-size: 125%
                button
                    font-size: 125%

div.spacer
    height: 150px