<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="'/'">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/products'">Каталог</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="" (click)="dataService.showBasket = true">Корзина</a>
      </li>
      <li *ngIf="dataService.isAdmin" class="nav-item">
        <a class="nav-link" [routerLink]="'/admin'">Админ-меню</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/about'">О нас</a>
      </li>
    </ul>

    <!-- <form class="form-inline my-2 my-lg-0" style="margin-right: 10px">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->

    <!-- <button class="btn btn-outline-secondary">
      Здравствуйте,
      <u>войдите в личный кабинет.</u>
    </button> -->

    <div *ngIf="dataService.username == null" class="text-white">
      Здравствуйте,
      <a [routerLink]="'sign-in'">войдите в личный кабинет</a>
    </div>

    <div *ngIf="dataService.username != null" class="dropdown">
      <button type="button" class="btn btn-outline-primary dropdown-toggle" [ngClass]="{'btn-outline-danger': dataService.isAdmin}"
        data-toggle="dropdown">
        Здравствуйте,
        <span *ngIf="dataService.isAdmin">Админ</span> {{dataService.username}}
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" [routerLink]="" (click)="logout()">Выход</a>
      </div>
    </div>

  </div>
</nav>


<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<app-basket *ngIf="dataService.showBasket"></app-basket>

<!-- <editor [(ngModel)]="data" [init]="{plugins: 'link lists'}" apiKey="vm3fozlgp04ukynxiispecc43xjwkph2xvlkhl2d15c1o5s1"></editor>

<button class="btn btn-access" (click)="func()">button</button> -->

<!-- [ngStyle]="[display: block] : dataService.showBasket; [display: none] : !dataService.showBasket" -->