<div class="row query-params-bar">

  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" [(ngModel)]="dataService.rowDisplay"> В виде списка
    </label>
  </div>

</div>

<div *ngIf="dataService.rowDisplay == true" class="catalog-cards-list">
  <table class="table">

    <thead>
      <tr>
        <th scope="col">Фото</th>
        <th scope="col">Название</th>
        <th scope="col">Цена</th>
        <th *ngIf="dataService.isAdmin" scope="col">Действия для админов</th>
      </tr>
    </thead>

    <tbody *ngIf="catalog !== null">
      <tr *ngFor="let prod of catalog">

        <td>
          <div class="background-image-container">
            <div class="background-image" [style.background-image]="'url(' + prod.images[0] + ')'"></div>
          </div>
        </td>

        <td>
          <a [routerLink]="'product/' + prod.link" innerHTML="{{prod.title}}"></a>
        </td>

        <td>
          <span innerHTML="{{prod.price / 100}} &#8372;"></span>
        </td>

        <td *ngIf="dataService.isAdmin" class="admins-buttons">
          <div class="btn-group" role="group" aria-label="Basic example">
            <a [routerLink]="'editProduct/' + prod.link" class="btn btn-outline-secondary">
              <i class="fas fa-edit"></i> Редактировать
            </a>
            <button class="btn btn-outline-secondary" (click)="deleteProduct(prod.link)">
              <i class="far fa-trash-alt"></i> Удалить
            </button>
          </div>
        </td>

      </tr>
    </tbody>

  </table>
</div>


<div *ngIf="dataService.rowDisplay == false" class="row catalog-cards-list">
  <div *ngFor="let prod of catalog" class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
    <figure class="card card-product">
      <div class="img-wrap">
        <img class="img-fluid" src="{{prod.images[0]}}">
      </div>
      <figcaption class="info-wrap">
        <h4 class="title">
          <a [routerLink]="'product/' + prod.link">{{prod.title}}</a>
        </h4>
        <p *ngIf="prod.short_description !== ''" class="desc">{{prod.short_description.substring(0, dataService.ShortDescriptionSymbolsCount)}}</p>
        <div class="rating-wrap">
          <!-- <div class="label-rating">Коментариев:</div> -->
        </div>
        <!-- rating-wrap.// -->
      </figcaption>
      <div class="bottom-wrap">
        <!-- <a href="" class="btn btn-sm btn-primary float-right">Купить</a> -->
        <div class="price-wrap h5">
          <span class="price-new">{{prod.price / 100}} &#8372;</span>
        </div>
        <!-- price-wrap.// -->
      </div>
      <!-- bottom-wrap.// -->
    </figure>
  </div>
  <!-- col // -->
</div>