<div class="row catalog-cards-list">

  <div *ngFor="let prod of catalog" class=".col-1 col-sm-6 col-md-4 col-lg-4 col-xl-2">
    <figure class="card card-product">
      <div class="img-wrap">
        <img class="img-fluid" src="{{prod.images[0]}}">
      </div>
      <figcaption class="info-wrap">
        <h4 class="title">
          <a [routerLink]="[prod.link]">{{prod.title}}</a>
        </h4>
        <p *ngIf="prod.short_description !== ''" class="desc">{{prod.short_description}}</p>
        <div class="rating-wrap">
          <!-- <div class="label-rating">Коментариев:</div> -->
        </div>
        <!-- rating-wrap.// -->
      </figcaption>
      <div class="bottom-wrap">
        <!-- <a href="" class="btn btn-sm btn-primary float-right">Купить</a> -->
        <div class="price-wrap h5">
          <span class="price-new">{{prod.price / 100}} &#8372;</span>
        </div>
        <!-- price-wrap.// -->
      </div>
      <!-- bottom-wrap.// -->
    </figure>
  </div>
  <!-- col // -->



</div>