<p>
  Необходимо создать github репозиторий В нем создать: Систему дистрибьюции контента с использованием NodeJS (Express)
</p>
<ol>
  <li>
    Вход/регистрация
  </li>
  <li>
    Реализовать панель администратора (вход разрешить только привелигированым пользователям)
  </li>
  <li>
    Администратор умеет загружать контент и назначать ему цену из админской секции)
  </li>
  <li>
    Гость умеет просматривать весь контент, но не может ничего купить
  </li>
  <li>
    Зарегистрированый пользователь может купить контент (страйп)
  </li>
  <li>
    Зарегистрированый пользователь может просмотреть весь купленный контент (edited)
  </li>
</ol>
<p>
  Каждый раз при изменении чего либо - делать комиты (англ). Если будет только 1 комит на все тестовое - не хорошо(
</p>
