<div class="overlay">
  <div class="content-container">
    <div class="content">

      <div class="top-bar">
        <i class="fas fa-times" (click)="dataService.showBasket = false"></i>
      </div>

      <h2 *ngIf="!dataService.username" class="text-warning text-center">
        Войдите в аккаунт, чтобы получить доступ к корзине
      </h2>

      <h2 *ngIf="!products.length && dataService.username" class="text-warning text-center">
        Корзина пуста...
      </h2>

      <table *ngIf="dataService.username && products.length">
        <tr *ngFor="let hi of array, let i = index">
          <td>
            {{i}}
          </td>
          <td>
            {{hi}}
          </td>
        </tr>
      </table>



    </div>
  </div>
</div>