<div class="container">
  <div class="row">
    <div class="col-12">

      <form class="form-signin" (ngSubmit)="login()">

        <h2 class="form-signin-heading">Вход в аккаунт</h2>

        <input class="form-control fix" [ngClass]="{'danger': (!username.valid) && (!username.untouched), 'success': username.valid}"
          type="username" placeholder="Username" [(ngModel)]="loginData.username" #username="ngModel" id="username" name="username"
          pattern="[a-zA-Z0-9_]{5,32}" required="">

        <input class="form-control fix" [ngClass]="{'danger': (!password.valid) && (!password.untouched), 'success': password.valid}"
          type="password" placeholder="Password" [(ngModel)]="loginData.password" #password="ngModel" id="password" name="password"
          pattern="[a-zA-Z0-9_]{5,32}" required="">

        <button class="btn btn-lg btn-primary btn-block" [disabled]="(!username.valid) || (!password.valid)" type="submit">Вход</button>

      </form>
    </div>
  </div>
</div>
<hr>


<div class="text-muted text-center">
  Нет аккаунта?
  <a [routerLink]="'/sign-up'">Зарегестрируйтесь!</a>
</div>

<style>
  input.fix {
    margin-bottom: 2px;
  }

  input.danger {
    border: 1px solid red;
    background-color: #ffcccc;
  }

  input.success {
    border: 1px solid green;
    background-color: #e6ffe6;
  }
</style>