<div class="admin-panel">
  <div class="btn-group" role="group">
    <a [routerLink]="['/products']" (click)="dataService.rowDisplay=true" class="btn btn-outline-secondary">
      <i class="fas fa-folder-open"></i>
      Перейти в каталог товаров
    </a>
    <a [routerLink]="['/admin/users']" class="btn btn-outline-secondary">
      <i class="fas fa-users-cog"></i>
      Перейти в список пользователей
    </a>
  </div>
  <br>
  <br>
  <div class="btn-group" role="group">
    <a [routerLink]="['/admin/addProduct']" (click)="dataService.rowDisplay=true" class="btn btn-outline-secondary">
      <i class="fas fa-plus"></i>
      <i class="fas fa-folder-open"></i> Добавить продукт
    </a>
    <a [routerLink]="['/admin/users/addUser']" class="btn btn-outline-secondary">
      <i class="fas fa-plus"></i>
      <i class="fas fa-users"></i>
      Добавить пользователя (не готово)
    </a>
  </div>
  <br>
  <br>
  <a [routerLink]="['/admin/orders']" class="btn btn-outline-secondary">
    <i class="fas fa-envelope"></i>
    Просмотреть заказы
  </a>
</div>